
<div *ngIf="foo">
    <h2><span>Foo</span> {{foo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>File Upload</span></dt>
        <dd>
            <div *ngIf="foo.fileUpload">
                <a (click)="openFile(foo.fileUploadContentType, foo.fileUpload)">open</a>
                {{foo.fileUploadContentType}}, {{byteSize(foo.fileUpload)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'foo/'+ foo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
